/* Style de base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #2a00fa;
    padding: 10px;
}

ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

ul.menu li {
    position: relative;
}

ul.menu a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

/* Effet de changement de couleur au survol */
ul.menu a:hover {
    background-color: #90c610;
}
